body {
    padding: 0;
    margin: 0;
    font-family: inherit;
  }
  .app {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      rgb(255, 102, 0),
      rgb(211, 145, 45),
      rgb(255, 102, 0)
    );
    overflow-x: hidden;
    overflow-y: auto;
  }
  .container {
    height: 100%;
    width: 80%;
    position: relative;
  }
  /* HEADER */
  .header .container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }
  .main .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main{
    width: 100%;
    height: calc(100% - 240px);
    padding-top: 60px;
    position: relative;
  }
  .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 100px;
    font-weight: bold;
    color: #3d3935;
  }
  .box{
    width: 80%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    background: #000000a6;
  }
  .top{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-left{
    width: 400px;
    height: 100%;
    border-radius: 5px;
    background: #1878af;
    display: flex;
  }
  .top-left div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    border-right: solid 1px #00000025;
  }
  .top-left div select{
    width: 100%;
    background: transparent;
    color: #ccc;
    font-weight: 500;
    cursor: pointer;
  }
  .top-right{
    width: 300px;
    height: 100%;
    color: #ccc;
    font-size: 20px;
  }
  .top-right input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
  }
  .history-table{
  
    width: 100%;
    max-height: 40px ;
    border: solid 1px #fff;
    border-collapse: collapse;
  }
  .history-table tr{
    
    height: 40px;
    color: rgb(207, 156, 78);
    font-size: 20px;
    font-weight: bold;
  }
  .history-table tr td{
   
    height: 40px;
    padding: 10px;
  }
  .history-table tr,td{
    
    border: sodid 1px #fff !important;
  }
  
  
  .bot{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bot-right{
    display: flex;
    width: 200px;
    height: 40px;
  }
  .prev-bot{
    width: 80px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    height: 100%;
    border-radius: 5px;
    color: #383737;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
  }
  .header {
    width: 100%;
    height: 60px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #4b4a4a86;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .logo {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .menu {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu-item {
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
  }
  .menu-text:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    background: none !important;
  }
  .menu-text {
    font-size: 20px;
    font-weight: 550;
    color: #e9ebf1;
    margin-right: 10px;
    text-align: center;
  }
  .menu-down {
    width: 10px;
    height: 10px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action {
    width: 200px;
    height: 40px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
  }
  .action-item {
    width: 100%;
    height: 100%;
    background: orange;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  
  .action-item:hover .logout-active{
    opacity: 1;
  }
  .logout-active{
    opacity: 0;
    width: 100%;
    height: 40px;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    position: absolute;
    color: #000;
    bottom: -40px;
    background: orange;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }
  .register {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  /* END HEADER */
  /* MAIN */
  .empty {
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .form {
    width: 100%;
    height: auto;
  }
  .input-div {
    color: #fff;
  }
  .input-div input,
  select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
  }
  .input-title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
  }
  .input-sx {
    width: 100%;
    display: flex;
  }
  .input-sx div {
    flex: 1 1;
  }
  .input-sx div:nth-child(1) {
    margin-right: 5px;
  }
  .input-sx div:nth-child(2) {
    margin-left: 5px;
  }
  .submit {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submit button {
    width: 60%;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background: rgb(218, 218, 63);
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }
  .sid {
    width: 100%;
    margin-top: 20px;
  }
  .sid div {
    width: 100%;
    color: #fff;
    font-size: 20px;
  }
  .sid div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sid div input {
    width: 95%;
    height: 36px;
    border-radius: 5px;
  }
  /* END MAIN */
  /* FOOTER */
  .footer {
    width: 100%;
    height: 240px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #504e4e80;
  }
  .footer-content {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .footer-items {
    width: calc(100% / 3);
    height: 100%;
    margin-right: 10px;
    position: relative;
  }
  .footer-item {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .item-1 {
    color: rgb(255, 251, 0);
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: solid 2px rgb(255, 251, 0);
  }
  .item-2 {
    margin-top: 20px;
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
  }
  .item-3 {
    color: #ccc;
  }
  .item-4 {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(255, 251, 0);
    text-transform: uppercase;
    border-bottom: solid 2px rgb(255, 251, 0);
  }
  .item-5 {
    margin-top: 20px;
  }
  .btn {
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #5f7fe9;
  }
  .network {
    display: flex;
    padding: 20px;
  }
  .network div {
    margin-right: 10px;
  }
  .phone {
    padding-left: 20px;
    color: #ccc;
    margin-bottom: 20px;
  }
  